.mtree-div
  width:400px
  display:inline-block
  margin:0
  position:relative
  zoom:1
  vertical-align : middle
  line-height: 1.428571429
  box-sizing: border-box

.select-placeholder
  content: '>';
  position: absolute;
  top: 45%;
  right: 15px;
  margin-top: -8.5px;
  font: 600 14px/1.2 'Lato', Helvetica, sans-serif;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  list-style-type: none;
.select-placeholder-toggle
  content: '>';
  position: absolute;
  list-style-type: none;
  top: 45%;
  right: 10px;
  margin-top: -8.5px;
  font: 600 14px/1.2 'Lato', Helvetica, sans-serif;
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

.ul-all
  min-height :26px;
  background-color : #727f88;
  color:white;
  width:400px;
  height:auto !important;
  margin: 0;
  padding: 3px;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 3px;
  font: 300 14px/1.2 'Lato', Helvetica, sans-serif;
  cursor: text;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #353e47), color-stop(15%,#727f88));
  background-image: -webkit-linear-gradient(top, #353e47 1%, #727f88 15%);
  background-image: linear-gradient(top, #353e47 1%,#727f88 15%)
.list-all
  margin-left:5px;

  height:100%;

.mtreeTree-input
  width:395px;
  margin-right:2px;
  margin-left:1px;
  margin-top:2px;


.mtree-input-clicked
  background-color:white
  color:black
  width:400px;

.mtreeTree
  z-index:5
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .25);

.behavior-choices
  min-height :26px;
  width:400px;
  height:auto !important;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
  background-image: linear-gradient(top, #eee 1%, #fff 15%)

.behavior-choices-item
  float: left;
  list-style: none;
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;

.behavior-search-close
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  left: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url('../../assets/select2.png') right top no-repeat;
  background-image: url('../../assets/select2.png') !important;
  background-repeat: no-repeat !important;
  background-size: 60px 40px !important;





