<div id="selectedBehaviors" ng-mouseleave="treeInputBlur()" ng-class="treeInputUnclicked" ng-click="treeInputClicked($event)" >
  <ul class="ul-all " ng-show="showAll"><li id="list-all" class="list-all ">All</li><li id="list-placeholder" class="list-all " ng-class="toggleClass">></li></ul>
  <ul  id="behavior-choices" class="behavior-choices"  ng-hide="showAll">
    <li class="behavior-choices-item"  ng-repeat="behavior in behaviorDataStore">
      <span >{{behavior.name}}</span>
      <!-- <a href="javascript:;" class="ui-select-match-close behavior-search-close" ng-click="removeBehaviorItem(behavior)" ></a>-->
      <span class="mtree-tag-close" ng-click="removeBehaviorItem(behavior)">X</span>
    </li>
  </ul>
  <div id="mtreeTree" class="mtreeTree" ng-hide="hideScroll" >
    <input   id="mtreeTree-input" class="mtreeTree-input" type="text" ng-keyup="keyUpSearch($event)"  placeholder="search" ng-model="behaviorSearch"  />
    <div class="mtree">
      <div ivh-treeview="track.behaviors" ivh-treeview-on-cb-change="changeCallback(ivhNode,ivhIsSelected, ivhTree)"
           ivh-treeview-filter="behaviorSearch" class="custom-border-down">
      </div>

    </div>
  </div>
</div>
